.AnswerItem {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.AnswerItem:hover {
  background: #F6F6F6;
  transition: background .3s ease-in-out;
}

.AnswerItem.succes {
  background-color: rgba(41, 245, 129, 0.793);
}

.AnswerItem.error {
  background-color: rgba(255, 98, 98, 0.73);
}