.ActiveQuiz {
  padding: 10px 20px;
  color: #111;
  border: 2px solid #111;
  border-radius: 5px;
  margin: 0 10px;
  box-sizing: border-box;
  background-color: #fff;
}

.Question {
  display: flex;
  justify-content: space-between;
}