.Auth {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background-color: #F6F6F6;
}

.Auth>div {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.Auth h1 {
  color: #111;
  text-align: center;
}

.AuthForm {
  background-color: #d3d3d3;
  padding: 10px;
  border-radius: 5px;
}